---
layout: layouts/product.njk
title: "PIUR Infinity: 3D Ultrasound Tomography"
lang: en
description: "The PIUR tUS Infinity tomographic ultrasound system transforms any standard ultrasound into a 3D tomographic imaging device."
permalink: /en/products/3d-ultrasound-tomography-piur/
productSlug: 3d-ultrasound-tomography-piur
---
