---
layout: layouts/product.njk
title: "EndoVE: Endoscopic Reversible Electroporation"
lang: en
description: "EndoVE is a system for endoscopic reversible electroporation (ePORE therapy) for the treatment of tumours accessible via endoscopic routes."
permalink: /en/products/endoscopic-electroporation-endove/
productSlug: endoscopic-electroporation-endove
---
