---
layout: layouts/base.njk
title: Products
lang: en
description: "PesMed product range provides patients with benefits by being the leader in research, development, manufacturing and innovative design."
permalink: /en/products/
---

{% set breadcrumbs = [{label: translations[lang].products}] %}
{% include "partials/breadcrumb.njk" %}

{% set pageTitle = translations[lang].products %}
{% include "partials/page-header.njk" %}

{% include "partials/products-section.njk" %}
