---
layout: layouts/product.njk
title: "iFIX: Patient Positioning"
lang: en
description: "iFIX is a precision patient positioning system designed for interventional radiology and surgical procedures."
permalink: /en/products/patient-positioning-ifix/
productSlug: patient-positioning-ifix
---
