---
layout: layouts/product.njk
title: "Prosense: Cryotherapy"
lang: en
description: "The ProSense system is a device for cryo-ablation of tumour lesions, both benign and malignant."
permalink: /en/products/prosense/
productSlug: prosense
---
