---
layout: layouts/product.njk
title: "Micromate: Robotic Navigation"
lang: en
description: "Micromate is a robotic navigation system directly connected to the operating table for percutaneous procedures in interventional radiology."
permalink: /en/products/robotic-navigation-micromate/
productSlug: robotic-navigation-micromate
---
