---
layout: layouts/base.njk
title: Home
lang: it
description: "Pes Med è un'azienda italiana con una profonda competenza nell'organizzazione della distribuzione per il settore dei dispositivi medici."
---

{% include "partials/hero.njk" %}
{% include "partials/section-nav.njk" %}
{% include "partials/about-section.njk" %}
{% include "partials/products-section.njk" %}
{% include "partials/news-section.njk" %}
