---
layout: layouts/product.njk
title: "PIUR Infinity: Tomografia Ecografica 3D"
lang: it
description: "Il sistema a ultrasuoni tomografico PIUR tUS Infinity permette di trasformare qualsiasi ecografo standard in un dispositivo di imaging tomografico in 3D."
permalink: /it/products/3d-ultrasound-tomography-piur/
productSlug: 3d-ultrasound-tomography-piur
---
