---
layout: layouts/product.njk
title: "Prosense: Crioterapia"
lang: it
description: "Il sistema ProSense è un dispositivo per la crio-ablazione di lesioni tumorali, benigne e maligne."
permalink: /it/products/cryotherapy-prosense/
productSlug: cryotherapy-prosense
---
