---
layout: layouts/product.njk
title: "CUTIS: Elettroporazione Reversibile Cutanea"
lang: it
description: "CUTIS è un sistema per l'elettroporazione reversibile cutanea (ePORE therapy) per il trattamento di lesioni tumorali superficiali e cutanee."
permalink: /it/products/cutaneous-electroporation-cutis/
productSlug: cutaneous-electroporation-cutis
---
