---
layout: layouts/product.njk
title: "EndoVE: Elettroporazione Reversibile Endoscopica"
lang: it
description: "EndoVE è un sistema per l'elettroporazione reversibile endoscopica (ePORE therapy) per il trattamento di tumori accessibili per via endoscopica."
permalink: /it/products/endoscopic-electroporation-endove/
productSlug: endoscopic-electroporation-endove
---
