---
layout: layouts/base.njk
title: Prodotti
lang: it
description: "La gamma di prodotti PesMed offre ai pazienti vantaggi grazie alla leadership nella ricerca, sviluppo, produzione e design innovativo."
permalink: /it/products/
---

{% set breadcrumbs = [{label: translations[lang].products}] %}
{% include "partials/breadcrumb.njk" %}

{% include "partials/products-section.njk" %}
