---
layout: layouts/product.njk
title: "iFIX: Posizionamento Paziente"
lang: it
description: "iFIX è un sistema di posizionamento paziente di precisione per procedure di radiologia interventistica e chirurgiche."
permalink: /it/products/patient-positioning-ifix/
productSlug: patient-positioning-ifix
---
