---
layout: layouts/product.njk
title: "Micromate: Navigazione Robotica"
lang: it
description: "Micromate è un sistema di navigazione robotica direttamente connesso al tavolo operatorio per procedure percutanee in radiologia interventistica."
permalink: /it/products/robotic-navigation-micromate/
productSlug: robotic-navigation-micromate
---
