---
pagination:
  data: news
  size: 1
  alias: newsItem
layout: layouts/news.njk
lang: it
tags:
  - news_it
eleventyComputed:
  title: "{{ newsItem.title[lang] if newsItem.title[lang] else newsItem.title.en }}"
  description: "{{ newsItem.excerpt[lang] if newsItem.excerpt[lang] else newsItem.excerpt.en }}"
  permalink: "/{{ lang }}/news/{{ newsItem.slug }}/"
  newsSlug: "{{ newsItem.slug }}"
  date: "{{ newsItem.date }}"
---
