---
layout: layouts/base.njk
title: Home
lang: en
description: "Pes Med is an Italian company with a deep expertise in the distribution organisation for the medical device business."
---

{% include "partials/hero.njk" %}
{% include "partials/section-nav.njk" %}
{% include "partials/about-section.njk" %}
{% include "partials/products-section.njk" %}
{% include "partials/news-section.njk" %}
